<div class="container">
    <form name="moviefrm" [formGroup]="frmMovie" (ngSubmit)="save()">
        <div class="form-group">
            <label>Movie Id</label>
            <input type="text" class="form-control" formControlName="Id" name="MovieId" >       
        </div>
        <div class="form-group">
            <label>Movie Name</label>
            <input type="text" class="form-control" formControlName="Name" name="MovieName" 
            [ngClass]="getClasses(frmMovie.controls.Name.dirty && !frmMovie.controls.Name.valid)">
            <div *ngIf="frmMovie.controls.Name.dirty && !frmMovie.controls.Name.valid" class="alert alert-danger">
                <p *ngIf="frmMovie.controls.Name.errors.isWithSpecialChars">Name must not contain special characters</p>
                <p *ngIf="frmMovie.controls.Name.errors.isNotFirstCharCapital">Name must start with capital letter</p>
            </div> 
        </div>
        <div class="form-group">
            <label>Release Year</label>
            <input type="text" class="form-control" formControlName="ReleaseYear" name="MovieReleaseYear" >
        </div>
        <div class="form-group">
            <label>Category</label>
            <form>
                <div *ngFor="let cat of categories">
                    <label>{{cat}}</label>
                    <input type="radio" value="{{cat}}" (click)="setCategory(cat)" 
                    *ngIf="frmMovie.controls.Category.value === cat" checked="true">
                    <input type="radio" value="{{cat}}" (click)="setCategory(cat)" 
                    *ngIf="frmMovie.controls.Category.value != cat"><p></p>
                </div>
            </form>            
        </div>

        <input type="button" value="New" class="btn btn-warning" (click)="clear()">
        <input type="submit" value="Save" class="btn btn-success" >
    </form>
</div>
<br/><br/>
<div class="container">
    <input type="text" name="searchText" [(ngModel)]="searchText">
    <input type="button" value="Search" class="btn btn-success" (click)="searchMovie()">
    <br/><br/>
    <form action="">
        <label>sort (A-Z)</label><input type="radio" name="sortOrder" (click)="sort()">
        <p></p>
        <label>sort (Z-A)</label><input type="radio" name="sortOrder" (click)="reverseSort()">
    </form>
    <app-table-directive [DataSource]="movies" (onRowSelect)="getSelectedMovie($event)"
        (onRowDelete)="deleteRow($event)">
    </app-table-directive>
</div>